body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #02579B; /* flutter dark blue */
  text-decoration: none;
}
a:active {
  color: #54C5F8; /* flutter light blue */
}
a:hover {
  text-decoration: underline;
}
.nav-logo {
  width: 200px;
  margin: 0px 0px 40px 0px;
}
